.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #ffe4c4;
  display: flex;
}

.Main-Header{
  text-align: center;
  color: #6f3310;
  }

.cakeImages{
  
  height: 400px;
  width: 420px;
  padding: 10px;
}


.Navigation{
  background-color: #d9c6b0;
  overflow: hidden;
}

.Navigation a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Navigation input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.cakeDisplay{
  margin-left: 10px;
  /* display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
   */
}
